body {
    font-family: 'Karla', sans-serif !important;
    font-weight: normal;
    font-size: 1rem;
}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
}

.dropdown-menu>li>a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.nav-link.dropdown-toggle {
    color: #000000 !important
}

.nav-link {
    font-size: 12px;
    font-weight: bold;
    color: #000000cc !important;
}

.chev-down {
    width: 8px;
    margin-left: 5px !important;
}

.dropdown-item {
    padding: .25rem 0.5rem 0.25rem 1rem !important;
}

.Contact {
    color: #000000 !important
}

.remove {
    border: none !important;
}

.c-navbar .dropdown-menu {
    border: none !important;
    box-shadow: 0px 0px 8px 0px #dfdfdf;
    padding: 0;
}

.container-fluid {
    box-shadow: 0PX 0px 7px -2px #333;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: #ffffff
}

.logo {
    width: 144px;
    float: left;
}

.size {
    font-size: 15px;
    color: #1a1818cc;
}

.c-navbar .nav-item .nav-link:hover {
    color: orange !important;
}

#video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translatey(58px);
}


.display-table {
    background: rgba(0, 0, 0, 0.4);
}

h1 {
    margin: 0;
    line-height: 1;
}

.stresscolor {
    color: #F86D18;
    font-size: 6.5rem;
}

.second-left{
    margin-top: 5rem;
}


.display-table {
    display: table;
    height: calc(100vh - 96px);
    width: 100%;
}

.display-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
}

.v-align {
    vertical-align: middle;
}

.main-content {
    white-space: nowrap;
    font-size: 102px;
    line-height: 85px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 5px;
    cursor: pointer;
    font-family: 'Tungsten-Light';
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    border-width: 0px;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;

}

.first-heading {
    font-size: 6.5rem;
    margin: 0;
    line-height: 1.1;
}


#mySidenav a {
    left: -448px;
    position: absolute;
    transition: 0.3s;
    padding: 15px;
    width: 470px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 12;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    position: fixed;
    bottom: 7rem;
    height: auto;
    background-color: #F86D18;
    line-height: 30px;
}

.para1{
    color: #1a1818cc;
    font-size: 6.5rem;
    font-family: 'Tungsten-Light';
}
.prevent{
    color: #F86D18;
    font-size: 6.5rem;
    font-family: 'Tungsten-Light';
}
.replace{
    color: #F86D18;
    font-family: inherit;
    padding-left: 10px;
    background-color: #000000
}
.left-content{
    letter-spacing: 1px;
    font-size: 20px;
    color: gray;
}
.second-right{
    font-family: inherit;
    color: #F86D18;
    background-color: #000000
}   

.css-typing {
    width: 676px;
    margin: 0 auto;
}

.css-typing p {
    border-right: .15em solid orange;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.css-typing p:nth-child(1) {
    width: 100%;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

.css-typing p:nth-child(2) {
    width: 17.5%;
    margin: 0 auto;
    opacity: 0;
    -webkit-animation: type2 0.5s steps(40, end);
    animation: type2 0.5s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

.css-typing p:nth-child(3) {
    width: 100%;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

@keyframes type {
    0% {
        width: 0;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@media screen and (max-width:760px){
    font-size: 40px
} 

@media screen and (max-width:760px){
    .para1{
        font-size: 40px
    }
    .prevent{
        font-size: 40px;
    }
    .replace{
        font-size: 20px
    }
    .left-content{
        font-size: 20px
    }

    .first-heading{
        font-size: 30px;
    }
    .stresscolor{
        font-size: 30px;
        
    }
    .css-typing{
        width: auto !important;
        margin: 0;
    }
    .logo{
        display: inline-block;
        float: left;
        clear: both;
        width: 144px
    }
}

@media screen and (max-width:490px){
    #about{
        width: 40% !important;
        font-size: 30px;
        left: -20px
    }
    #mySidenav a:hover {
        left: 0;
    }
    

#mySidenav a {
    left: -150px;
    position: absolute;
    transition: 0.3s;
    padding: 6px;
    width: 40px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 12;
}
    
}
